* text=auto

*.c text eol=lf
*.cpp text eol=lf
*.h text eol=lf
*.ini text eol=lf
*.json text eol=lf
*.md text eol=lf
*.py text eol=lf
*.txt text eol=lf
*.yml text eol=lf
*.yaml text eol=lf

*.bin binary
*.hex binary
*.png binary
*.ttf binary
*.uf2 binary
*.zip binary

src/helpers/ui/EmbeddedBitmapFonts.h linguist-generated=true
